*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* -------------------------------------------- */

/* Styling the top navigation bar */
.navbar
{
    overflow: hidden;
    background-color: #333;
}

/* Styling bar links */
.navbar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change hover color */
.navbar a:hover
{
    background-color: #ddd;
    color: black;
}