*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

@media screen and (max-width: 400px)
{
    .navbar a
    {
        float: none;
        width: 100%;
    }
}

/* -------------------------------------------- */


/* ---- Navigation Bar ---- */

/* Styling the top navigation bar */
.navbar
{
    overflow: hidden;
    background-color: #121212;
}

/* Styling bar links */
.navbar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change hover color */
.navbar a:hover
{
    background-color: rgb(255, 255, 0);
    color: black;
}


/* ---- Header ---- */

/* Header attributes */
.header
{
    padding: 80px;
    text-align: center;
    background: #121212;
    color: white;
}

#HeaderImg
{
    width: 40vw;
    height: auto;
}

/* Header text attributes */

.header h1
{
    font-size: 40px;
}


/* Header quote text attributes */

.header p
{
    color: rgb(255, 255, 0);
}


/* ---- Footer ---- */

.footer
{
    -ms-flex: auto;
    flex: auto;
    padding: 20px;
    text-align: center;
    background: #484848;
    color: white;
}