*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* -------------------------------------------- */


/* ---- Navigation Bar ---- */

/* Styling the top navigation bar */
.navbar
{
    overflow: hidden;
    background-color: #121212;
}

/* Styling bar links */
.navbar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change hover color */
.navbar a:hover
{
    background-color: rgb(255, 255, 0);
    color: black;
}


/* ---- Header ---- */

/* Header attributes */
.header
{
    padding: 80px;
    text-align: center;
    background: #121212;
    color: white;
}

/* Header text attributes */

.header h1
{
    font-size: 40px;
}


/* Header quote text attributes */

.header p
{
    color: rgb(255, 255, 0);
}


/* ---- Column container ---- */

/* Dividing sections */

.row
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ---- "About Me"/left section's attributes ---- */

.abtMe
{
    -ms-flex: auto;
    flex: auto;
    background-color: #242424;
    padding: 20px;
    color: white;
}

/* ---- "Facts"/right section's attributes ---- */

.facts
{
    -ms-flex: auto;
    flex: auto;
    background-color: #242424;
    padding: 20px;
    color: white;
}

.facts p
{
    color: rgb(255, 255, 0);
}

.facts li
{
    color: rgb(255, 255, 0);
}

/* Button hiding */

.hidden
{
    display: none;
}

/* ---- Image dimentions ---- */

#Ishani
{
    width: 300px;
    height: 400px;
}

#Raven
{
    width: 400px;
    height: 250px;
}

/* ---- Background and Vision ---- */
.main
{
    -ms-flex: 70%;
    flex: 70%;
    background-color: #363636;
    color: white;
    padding: 20px;
}

/* ---- Footer ---- */
.footer
{
    -ms-flex: auto;
    flex: auto;
    padding: 20px;
    text-align: center;
    background: #484848;
    color: white;
}