*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* -------------------------------------------- */


/* ---- Navigation Bar ---- */

/* Styling the top navigation bar */
.navbar
{
    overflow: hidden;
    background-color: #333;
}

/* Styling bar links */
.navbar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change hover color */
.navbar a:hover
{
    background-color: #ffffff;
    color: black;
}


/* ---- Header ---- */

.header
{
    padding: 80px;
    text-align: center;
    background: #500000;
    color: white;
}

.header h1
{
    font-size: 40px;
}