*
{
    box-sizing: border-box;
}

/*
@keyframes gradient
{
    0%
    {
        background-position: 0% 100%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0% 100%;
    }
}



@keyframes colorTransition
{
    0%
    {
        background: black;
    }
    50%
    {
        background: yellow;
    }
    100%
    {
        background: black;
    }
}
*/

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

@media screen and (max-width: 400px)
{
    .navbar a
    {
        float: none;
        width: 100%;
    }
}

/* -------------------------------------------- */


/* ---- Navigation Bar ---- */

/* Styling the top navigation bar */
.navbar
{
    overflow: hidden;
    /*background-color: #121212;*/
}

/* Styling bar links */
.navbar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
    background: linear-gradient(to bottom, #242424 50%, yellow 50%) top;
    background-size: 100% 200%;
    transition: .2s ease-in-out;
}

/* Change hover color */
.navbar a:hover
{
    /* background-color: rgb(255, 255, 0); */
    background-position: bottom;
    color: black;
}


/* ---- Header ---- */

/* Header attributes */
.header
{
    padding: 80px;
    text-align: center;
    background: #121212;
    color: white;

    justify-items: center;
    /*
    background: linear-gradient(45deg, black, white, black, yellow);

    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 15%;
    animation: gradient 5s ease-in-out running infinite;
    

    
    animation: colorTransition 5s ease-in-out infinite;
    */
}

#HeaderImg
{
    width: 70vh;
    height: auto;
}

/* Header text attributes */

.header h1
{
    font-size: 40px;
}


/* Header quote text attributes */

.header p
{
    color: rgb(255, 255, 0);
}


/* ---- Footer ---- */

.footer
{
    -ms-flex: auto;
    flex: auto;
    padding: 20px;
    text-align: center;
    background: #484848;
    color: white;
}
/* By Ishani Sadagopan Jeyaram Malismitha */