/* All value card attributes */
.values
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

/* Individual value card */
.values .value-card
{
    position: relative;
    max-width: 300px;
    height: 150px;
    background: wheat;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
}

/* Individual value card hover attributes */
.values .value-card:hover
{
    height: 300px;
}

/* Image container attributes */
.values .value-card .value-img
{
    position: relative;
    align-content: center;
    width: 260px;
    height: auto;
    background-color: white;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.5);
}

/* Image attributes */
.values .value-card .value-img img
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

/* Value care text attributes */
.values .value-card .detail
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    
    text-align: right;
    color: black;
    font-family: monospace;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

/* Value card h2 text attributes */
.values .value-card .detail h2
{
    font-size: 100%;
}

/* Value card text hover attributes */
.values .value-card:hover .detail
{
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}

@media screen and (max-width: 780px)
{
    *
    {
        box-sizing: border-box;
    }

    .values
    {
        width: 270px;
        flex-direction: column;
        position: relative;
    }

    .values .value-card
    {
        height: 120px;
    }

    .values .value-card .value-img
    {
        position: relative;
        width: 150px;
        height: 200px;
        top: -30px;
        left: 3px;
    }
}

@media screen and (max-width: 400px)
{
    .navbar a
    {
        float: none;
        width: 100%;
    }
}