/* All value card attributes */
body
{
    background-color: #242424;
}

@media screen and (max-width: 780px)
{
    *
    {
        box-sizing: border-box;
    }

    .values
    {
        width: 270px;
        flex-direction: column;
        position: relative;
    }

    .values .value-card
    {
        height: 120px;
    }

    .values .value-card .value-img
    {
        position: relative;
        width: 150px;
        height: 200px;
        top: -30px;
        left: 3px;
    }
}

.values
{
    position: relative;
    /* width: 1100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    /* background-color: #242424; */
}

/* Individual value card */
.values .value-card
{
    position: relative;
    max-width: 300px;
    height: 150px;
    background: #363636;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    box-shadow: 0 3px 50px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.4s ease-in-out;
}

/* Individual value card hover attributes */
.values .value-card:hover
{
    height: 300px;
}

/* Image container attributes */
.values .value-card .value-img
{
    position: absolute;
    align-content: center;
    width: 100px;
    height: 360px;
    top: -110px;
    left: 20px;
    z-index: 1;
}

/* Image container attributes */
.values .value-card .value-img img
{
    max-width: auto;
    max-height: 100px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

 /* Image attributes */
#img
{
    box-shadow: 0px 3px 10px white;
}

.values .value-card:hover img
{
    margin-top: -50px;
    max-width: auto;
    max-height: 50px;
}

/* Value card big text attributes */
.values .value-card .value-img h1
{
    color: white;
    transition: 0.4s ease-in-out;
}

/* Value card big text hover attributes */
.values .value-card:hover h1
{
    visibility: hidden;
    opacity: 0;
    margin-top: 140px;
}

/* Value card text attributes */
.values .value-card .detail
{
    position: relative;
    margin-top: -140px;
    padding: 30px 25px;
    text-align: center;
    color: white;
    font-family: monospace;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

/* Value card h2 text attributes */
.values .value-card .detail h2
{
    font-size: 100%;
}

/* Value card text hover attributes */
.values .value-card:hover .detail
{
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}
/* By Ishani Sadagopan Jeyaram Malismitha */